.textcenter{
	text-align:center;
}

body {background-color:#67989A;}

.maxx{
	width:100%;
}

.card{
	margin-top:20px;
}

.maxwalk{
	width:85%; 
}

.margin{
	margin-top:50px;
}

.card-title{
	color:#1B654B;
}

.textcenter{
	text-align:center;
}